.widget {
  text-align: right;
}
.summary {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 0;
  text-align: left;
  color: #fff;
  text-shadow: 0 1px 6px #0008;
}
.summary:hover {
  background: transparent;
}
.summary span {
  display: grid;
  gap: 7px;
}
.summary strong {
  font-size: 15px;
  font-weight: 600;
}
.summary small {
  font-size: 12px;
  color: #fff;
  max-width: 210px;
}
.source {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-top: 5px;
  font-size: 9px;
  color: #fff;
  text-shadow: 0 1px 6px #0008;
}
.source button {
  width: 20px;
  height: 20px;
  padding: 4px;
}
.cities {
  display: grid;
  gap: 4px;
}
.cities button {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
  border: 0;
}
.cities span {
  display: grid;
  gap: 4px;
}
@media (max-width: 540px) {
  .summary {
    gap: 7px;
  }
  .summary strong {
    font-size: 12px;
  }
  .summary small {
    font-size: 10px;
    max-width: 120px;
  }
  .summary > svg {
    width: 24px;
  }
}
